<div class="container">
    <h1>Issues Page</h1>

    

    <div>
        <app-fetch-all-issues></app-fetch-all-issues>
    </div>

    <div hidden>
        <app-create-issue></app-create-issue>
    </div>

    <div hidden>
        <app-fetch-issue></app-fetch-issue>
    </div>

    <div hidden>
        <app-delete-issue></app-delete-issue>
    </div>

    <div hidden>
        <app-update-issue></app-update-issue>
    </div>

    <div hidden>
        <app-search-issue></app-search-issue>
    </div>

</div>



