Spring-TaskBoard/.idea/jarRepositories.xml
Spring-TaskBoard/build.gradle
Spring-TaskBoard/gradle/wrapper/gradle-wrapper.properties
Spring-TaskBoard/gradle/wrapper/gradle-wrapper.properties
Spring-TaskBoard/build.gradle
Spring-TaskBoard/gradle/wrapper/gradle-wrapper.properties
