<div>
    <h2>Issue to delete</h2>
    <input id="deleteIssueId" type="text" placeholder="Issue ID" [(ngModel)]="idDeleteValue">
    <button id="deleteIssueSubmitButton" (click)="deleteIssue()">Submit</button>
    <div *ngIf="deletedIssueData()">
        <h3>Deleted Issue:</h3>
        <div class="project-display">
            <p><strong>ID:</strong> {{deletedIssueData()?.issueId}}</p>
            <p><strong>Name:</strong> {{deletedIssueData()?.title}}</p>
        </div>
    </div>
    <div id="successMessageDeleteIssue" *ngIf="successMessageDeleteIssue()" class="success-message">
        {{ successMessageDeleteIssue() }}
    </div>
    @if(errorMessage()){
        <div id="failMessageDeleteIssue" class="error-message">{{ errorMessage() }}</div>
    }
</div>
