<div>
    <h2>Create Issue</h2>
    <input type="text" id="ownerEmail" placeholder="Owner Email" [(ngModel)]="ownerEmailText">
    <br>
    <input type="text" id="projectId" placeholder="Project ID" [(ngModel)]="projectIdText">
    <br>
    <input type="text" id="issueTitle" placeholder="Title" [(ngModel)]="titleText">
    <br>
    <textarea id="issueDescription" placeholder="Description" rows="5" cols="30" [(ngModel)]="descriptionText"></textarea>
    <br>
    <p style="display:inline">Priority: </p>
    <select [(ngModel)]="priorityValue">
        @for (item of lowMedHighList; track $index) {
            <option [ngValue]="item">{{ item }}</option>
        }
    </select>
    <br>
    <p style="display:inline">Severity: </p>
    <select [(ngModel)]="severityValue">
        @for (item of lowMedHighList; track $index) {
            <option [ngValue]="item">{{ item }}</option>
        }
    </select>
    <br>
    <br>
    <button id="createIssueSubmit" (click)="postIssue()">Submit</button>
    <div id="successMessageAddIssue" *ngIf="successMessageAddIssue()" class="success-message">
        {{successMessageAddIssue()}}
    </div>
</div>