<div class="container">

  <div>
    <h1>Login</h1>

    <div>
    @if(errorMessage()){
      <div class="error-message">{{ errorMessage() }}</div>
    }

    <h2>Email</h2>
    @if(emailErrorMessage()){
      <div class="error-message">{{  emailErrorMessage()  }}</div>
    }
    <input type="text" id="email" placeholder="Email" [(ngModel)]="email"/>


    <h2>Password</h2>
    @if(passwordErrorMessage()){
      <div class="error-message">{{  passwordErrorMessage()  }}</div>
    }
    <input type="password" id="password" placeholder="Password" [(ngModel)]="password"/>

    </div>


    <br><br>
    <button id="loginButton" (click)="attemptLogin()">Login</button>
  </div>


</div>

