# Example environment variables for Spring Task Board application
# Copy and rename this file to .env and fill in the appropriate values to run locally
# You can use "openssl rand -base64 32" in terminal to generate a secret key
# Replace 'your-secret-key-here' with the generated key
# The same goes for three parameters

SECRET_KEY=your-secret-key-here
PASS_SECRET_KEY=your-password-secret-key-here
INIT_VECTOR=your-init-vector