<div class="container">
  <div>
    <h1>Register</h1>
    <div>
      @if(unknownErrorMessage()){
      <div class="error-message">{{ unknownErrorMessage() }}</div>
      }

      <h2>Name</h2>
      @if(nameErrorMessage()){
        <div class="error-message">{{ nameErrorMessage() }}</div>
      }
      <input type="text" id="name" placeholder="First Last" [(ngModel)]="name"/>

      <h2>Email</h2>
      @if(emailErrorMessage()){
        <div class="error-message">{{ emailErrorMessage() }}</div>
      }
      <input type="text" id="email" placeholder="Email" [(ngModel)]="email"/>

      <h2>Password</h2>
      @if(passwordErrorMessage()){
        <div class="error-message">{{ passwordErrorMessage() }}</div>
      }
      <input type="password" id="password" placeholder="Password" [(ngModel)]="password"/>

      <h2>Role</h2>
      @if(userRoleErrorMessage()){
        <div class="error-message">{{ userRoleErrorMessage() }}</div>
      }
      <select id="roleSelect" [(ngModel)]="userRole">
        @for(role of ROLE_TYPES; track $index){
          <option [ngValue]="role">{{ role }}</option>
        }
      </select>
    </div>


    <br><br>

    <button id="registerButton" (click)="attemptRegistration()">Register</button>

  </div>

</div>


